modules = ["nodejs-20", "web"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]

[[workflows.workflow]]
name = "start"
mode = "sequential"
author = 11325534

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx start expo"

[[workflows.workflow]]
name = "qwertyuiop["
mode = "sequential"
author = 11325534

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx expo start --tunnel -c"

[[workflows.workflow]]
name = "install"
mode = "sequential"
author = 11325534

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install"

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3000
